# these values should come from your Flex project.
ACCOUNT_SID=AC...
AUTH_TOKEN=...
WORKSPACE_SID=WS...
WORKFLOW_SID=WW...
CHAT_SERVICE_SID=IS...
SMS_CHANNEL_SID=TC...
PROXY_SERVICE_SID=KS...
AUTO_ACCEPT_TASKS=true
SMS_NUMBER=+...
FLEX_CHAT_DEFAULT_WEBHOOK="https://webhooks.twilio.com/v1/Accounts/.../Proxy/.../Webhooks/ChatEvent/ProxyIdentifier/..."
# these values should come from your Frontline project.
FRONTLINE_ACCOUNT_SID=AC...
FRONTLINE_AUTH_TOKEN=...
FRONTLINE_WORKSPACE_SID=WS...
FRONTLINE_AVAILABLE_STATUS=Available
CONERSATION_SERVICE_SID=IS...
FRONTLINE_SMS_NUMBER=+...
FRONTLINE_WHATSAPP_NUMBER=whatsapp:+1...
NOTIFICATION_TIMEOUT_MINUTES=0.5
BACKUP_CRM_ENDPOINT=https://...
