# these values should come from your Flex project.
ACCOUNT_SID=AC...
AUTH_TOKEN=...
WORKSPACE_SID=...
CHAT_SERVICE_SID=IS...
AUTO_ACCEPT_TASKS=true
FLEX_CHAT_DEFAULT_WEBHOOK="https://webhooks.twilio.com/v1/Accounts/.../Proxy/.../Webhooks/ChatEvent/ProxyIdentifier/..."
SMS_NUMBER=+...
WHATSAPP_NUMBER=whatsapp:+...
# these values should come from your Frontline project.
FRONTLINE_ACCOUNT_SID=AC...
FRONTLINE_AUTH_TOKEN=...
FRONTLINE_WORKSPACE_SID=WS...
FRONTLINE_AVAILABLE_STATUS=Available
CONERSATION_SERVICE_SID=IS...
NOTIFICATION_TIMEOUT_MINUTES=0.5
BACKUP_CRM_ENDPOINT=https://...
